<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <button mat-button [routerLink]="'/home'"><h1>School Management</h1></button>
      <div>
        <!-- <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>        
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button> -->

      </div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="account">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>phonelink_locks</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <mat-menu #account="matMenu">
        <button mat-menu-item *ngIf="!_authService.loggedIn()" [routerLink]="'/login'">
          <span>Login</span>
        </button>
        <button mat-menu-item *ngIf="_authService.loggedIn()" [routerLink]="'/register'">
          <span>Register Student</span>
        </button>
        <button mat-menu-item *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <!-- mode="side" to mat-sidenav for other mode -->
    <mat-sidenav #sidenav>
      <mat-nav-list>
        
        <button mat-button href="#item-student" class="list-group-item" data-toggle="collapse">
          <mat-icon>perm_identity</mat-icon>
          <span>STUDENT</span>
          <mat-icon>expand_more</mat-icon>
        </button>
        <div class="list-group collapse" id="item-student">
          <a *ngIf="(_authService.isAdmin()) || (_authService.isStudent())" [routerLink]="'/student-schedule'" class="list-group-item" data-toggle="collapse">
            <span>Schedule</span>
            <!-- <span>{{_authService.isAdmin()}}</span> -->
          </a>
          <a *ngIf="(_authService.isAdmin()) || (_authService.isStudent())" [routerLink]="'/student-progress'" class="list-group-item" data-toggle="collapse">
            <span>Classes' Progress</span>
          </a>
        </div>

        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <!-- <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a> -->
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <!-- Main Component -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
