<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <button mat-button [routerLink]="'/home'"><h1>School Management</h1></button>
      <div>
        <!-- <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>        
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button>
        <button mat-button [routerLink]="'/accounts'"> Accounts </button> -->

      </div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <!-- Main menu -->
      <mat-menu #menu="matMenu">
        <!-- account -->
        <button mat-menu-item [matMenuTriggerFor]="account">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <!-- user -->
        <button mat-menu-item *ngIf="_authService.loggedIn() && _authService.isAdmin()" [matMenuTriggerFor]="user">
          <mat-icon>person</mat-icon>
          <span>User Function</span>
        </button>
        <!-- event -->
        <button mat-menu-item *ngIf="(_authService.loggedIn() && (_authService.isAdmin() || _authService.isTeacher()))" [matMenuTriggerFor]="event">
          <mat-icon>event</mat-icon>
          <span>Event Function</span>
        </button>
        <!-- course -->
        <button mat-menu-item *ngIf="(_authService.loggedIn() && (_authService.isAdmin() || _authService.isTeacher()))" [matMenuTriggerFor]="course">
          <mat-icon>event</mat-icon>
          <span>Course Function</span>
        </button>
      </mat-menu>

      <!-- For account Function -->
      <mat-menu #account="matMenu">
        <button mat-menu-item *ngIf="!_authService.loggedIn()" [routerLink]="'/login'">
          <span>Login</span>
        </button>
        <button mat-menu-item *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
      </mat-menu>

      <!-- For user Function -->
      <mat-menu #user="matMenu">
        <button mat-menu-item [routerLink]="'/register-user'">
          <mat-icon>person_add</mat-icon>
          <span>Register User</span>
        </button>
      </mat-menu>

      <!-- For event Function -->
      <mat-menu #event="matMenu">
        <button mat-menu-item [routerLink]="'/create-event'">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create Event</span>
        </button>
      </mat-menu>

      <!-- For course Function -->
      <mat-menu #course="matMenu">
        <button mat-menu-item [routerLink]="'/create-course'">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create Course</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <!-- mode="side" to mat-sidenav for other mode -->
    <mat-sidenav #sidenav>
      <mat-nav-list>
        
        <div mat-list-item>
          <button mat-button href="#item-student" class="list-group-item" data-toggle="collapse">
            <mat-icon>perm_identity</mat-icon>
            <span>STUDENT</span>
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="list-group collapse" id="item-student">
            <a *ngIf="(_authService.isAdmin()) || (_authService.isStudent())" [routerLink]="'/student-schedule'" class="list-group-item" data-toggle="collapse">
              <span>Schedule</span>
              <!-- <span>{{_authService.isAdmin()}}</span> -->
            </a>
            <a *ngIf="(_authService.isAdmin()) || (_authService.isStudent())" [routerLink]="'/student-progress'" class="list-group-item" data-toggle="collapse">
              <span>Classes' Progress</span>
            </a>
          </div>
        </div>

        <div mat-list-item>
          <button mat-button href="#item-teacher" class="list-group-item" data-toggle="collapse">
            <mat-icon>perm_identity</mat-icon>
            <span>TEACHER</span>
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="list-group collapse" id="item-teacher">
            <a *ngIf="(_authService.isAdmin()) || (_authService.isTeacher())" [routerLink]="'/teacher-schedule'" class="list-group-item" data-toggle="collapse">
              <span>Schedule</span>
              <!-- <span>{{_authService.isAdmin()}}</span> -->
            </a>
            <a *ngIf="(_authService.isAdmin()) || (_authService.isTeacher())" [routerLink]="'/teacher-progress'" class="list-group-item" data-toggle="collapse">
              <span>Classes' Progress</span>
            </a>
          </div>
        </div>
        
        <div mat-list-item [routerLink]="'/dashboard'">
          <button mat-button>
            <mat-icon style="color: #7570fa;">dashboard</mat-icon>
            <span>DASHBOARD</span>
          </button>
        </div>
        
        <!-- <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a> -->
        <div mat-list-item (click)="sidenav.toggle()">
          <button mat-button>
            <mat-icon style="color: #7570fa;">close</mat-icon>
            <span style="opacity: 40%;">CLOSE</span>
          </button>
        </div>
  
      </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <!-- Main Component -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
