.body-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.high-priority{
  color: #c20e02;
}

.low-priority{
  color: #10bd00;
}

.normal-priority{
  color: #2b40a6;
}

.example-chip-list {
  width: 100%;
}