#component-body{
   position: relative;
   height: 100vh;
   display: flex;
   justify-content: top;
   align-items: center;
   flex-direction: column;
   /* background-image: url("../../assets/BG_Image/metal.jpg"); */
}

.body-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.example-card {
  max-width: 100px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mat-grid-tile {
  border: solid 0.5px #adadad;
  flex-grow: 1;
  /* height: auto; */
  overflow: auto;
  min-height: 200px;
  border-radius: 15px;
}

mat-expansion-panel-header {
  height: auto !important; 
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}