<div id="register-body">
  <h1 class='elegantshadow'>REGISTER</h1>
  <div [formGroup]="registerGroup" class="container">
    
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step class="stepper">
        <ng-template matStepLabel>Required Information</ng-template>

        <div class="row stepper-element">
          <!-- Email Field -->
          <mat-form-field style="width:400px !important">
            <input 
              matInput 
              placeholder="Input Email"
              [errorStateMatcher]="matcher"
              id="email" 
              [formControl] = "registerGroup.get('email')"
              formControlName="email"
              required
            >
            <mat-error *ngIf="registerGroup.get('email')?.hasError('email') && !registerGroup.get('email')?.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerGroup.get('email')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row stepper-element">
          <!-- Password Field -->
          <mat-form-field style="width:400px !important">
            <input
              matInput
              placeholder="Input Password"
              type={{typeChoosen}}
              [errorStateMatcher]="matcher"
              id="password"
              [formControl]="registerGroup.get('password')"
              formControlName="password"
              required
            >
            <mat-error *ngIf="registerGroup.get('password')?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <button mat-button matSuffix mat-icon-button (click)="toggleViewPass()">
              <mat-icon>{{passwordViewIcon}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
        <div class="row stepper-element">
          <!-- Fullname Field -->
          <mat-form-field style="width:400px !important">
            <input 
              matInput 
              placeholder="Input Full Name"
              [errorStateMatcher]="matcher" 
              id="fullname" 
              [formControl] = "registerGroup.get('fullname')"
              formControlName="fullname"
              required
            >
            <mat-error *ngIf="registerGroup.get('fullname')?.hasError('required')">
              Fullname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="stepper-element">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Personal Information</ng-template>
        
        <!-- Gender Field -->
        <div class="row stepper-element">
          <div class="col">
              <label class="radio-group-label">Gender</label>
              <mat-radio-group
                class="s-radio-group stepper-element"
                aria-label="Select an option"
                [formControl] = "registerGroup.get('gender')"
              >
              <mat-radio-button class="s-radio-button" *ngFor="let onegender of genders" [value]="onegender">
                {{onegender}}
              </mat-radio-button>
              </mat-radio-group>
          </div>
        </div>

        <!-- Date of birth Field -->
        <div class="form-group stepper-element">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input 
                  [formControl] = "registerGroup.get('birthday')"  
                  matInput [matDatepicker]="picker" 
                  placeholder="Birthday"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="stepper-element">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Organization Information</ng-template>

        <div class="row stepper-element">
          <!-- Role Field -->
          <mat-select
            class="mat-select-style"
            id = "role"
            [errorStateMatcher]="matcher" 
            [formControl] = "registerGroup.get('role')"
            placeholder="Pick a Role"
            required
          >
            <mat-option *ngFor="let role of roleList" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </div>

        <div class="row stepper-element">
          <mat-error *ngIf="registerGroup.get('role')?.hasError('required')">
            Role is <strong>required</strong>
          </mat-error>
        </div>

        <div class="row stepper-element">
          <!-- KPI Field -->
          <mat-form-field style="width:400px !important">
            <input
              matInput
              placeholder="Input KPI"
              id = "kpi"
              [formControl] = "registerGroup.get('kpi')"
              formControlName = "kpi"
            >
          </mat-form-field>
        </div>
        
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="registerUser()" [disabled]="!registerGroup.valid">Register</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
        
        

        

        

    

    

    
  </div>
</div>
