.body-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.checkbox-body{
  margin-left: 5px;
}

.example-chip-list{
  width: 100%;
}